body{
	background-color: #202124;
	color: white;
}
a:link{
	color: #a1d5ec;
}
a:visited{
	color: #a040ff;
}
a:hover{
	color: #ff5080;
}
a:active{
	color: #506976;
}
::selection {
	background: #a040ff; /* WebKit/Blink Browsers */
}
::-moz-selection {
	background: #a040ff; /* Gecko Browsers */
}
input[type="checkbox"]{
	accent-color: #a040ff;
}